# Logs & env
*.log
.env

# Node (existing)
node_modules/

# VS Code
.vscode/

# ----------------------------
# DevOps / Kubernetes specific
# ----------------------------

# Binaries
*.exe

# Archives
*.zip
*.tar
*.tar.gz

# Downloaded tools / folders
prometheus-*
helm-*

# OS files
.DS_Store
Thumbs.db

# Secrets (VERY IMPORTANT)
secret.yaml
*.key
*.crt