# Logs & env
*.log
.env

# Node
node_modules/

# VS Code
.vscode/

# Binaries
*.exe

# Archives
*.zip
*.tar
*.tar.gz

# Ignore downloaded tools only
prometheus-*
helm-*

# OS
.DS_Store
Thumbs.db

# Secrets
secret*.yaml
*.key
*.crt